.btn,
.jumbotron,
.nav :hover {
  border-radius: 0px;
}

body {
  background: white;
  padding:0;
  margin:0;
  box-sizing:border-box;
}
/* 
.footer{
  position:absolute;
  left:0px;
  right: 0px;
  bottom:0px;
} */

.parent{
  min-height: 100vh;
  display: grid !important;
  grid-template-rows: auto 1fr auto !important;
}
